<h2>Loan calculator</h2>

<form [formGroup]="loancalculatorForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="monthlyIncome">Monthly Income:</label>
    <input
      type="number"
      class="form-control"
      id="monthlyIncome"
      placeholder="Monthly Income"
      formControlName="monthlyIncome"
    />
    <div
      *ngIf="
        monthlyIncome &&
        monthlyIncome.invalid &&
        (monthlyIncome.dirty || monthlyIncome.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="monthlyIncome.errors?.required">
        Monthly income is required.
      </div>
      <div *ngIf="monthlyIncome.errors?.min">
        Monthly income must be at least {{ minMonthlyIncome }}.
      </div>
    </div>
    <label for="requestedAmount">Requested Amount:</label>
    <input
      type="number"
      class="form-control"
      id="requestedAmount"
      placeholder="Requested Amount"
      formControlName="requestedAmount"
    />
    <div
      *ngIf="
        requestedAmount &&
        requestedAmount.invalid &&
        (requestedAmount.dirty || requestedAmount.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="requestedAmount.errors?.required">
        Requested amount is required.
      </div>
      <div *ngIf="requestedAmount.errors?.min">
        Requested amount must be at least {{ minRequestedAmount }}.
      </div>
    </div>
    <label for="loanTerm">Loan Term:</label>
    <input
      type="number"
      class="form-control"
      id="loanTerm"
      placeholder="Loan Term"
      formControlName="loanTerm"
    />
    <div
      *ngIf="
        loanTerm && loanTerm.invalid && (loanTerm.dirty || loanTerm.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="loanTerm.errors?.required">
        Loan term is required.
      </div>
      <div *ngIf="loanTerm.errors?.min">
        Loan term must be at least {{ minLoanTerm }}.
      </div>
      <div *ngIf="loanTerm.errors?.max">
        Loan term must be at most {{ maxLoanTerm }}.
      </div>
    </div>
    <label for="children">Children:</label>
    <select class="form-control" id="children" formControlName="children">
      <option *ngFor="let options of childrenOptions" [value]="options">
        {{ options }}
      </option>
    </select>
    <div
      *ngIf="
        children && children.invalid && (children.dirty || children.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="children.errors?.required">
        Complete the form to enable button.
      </div>
    </div>
    <label for="coapplicant">Coapplicant:</label>
    <select class="form-control" id="coapplicant" formControlName="coapplicant">
      <option *ngFor="let options of coapplicantOptions" [value]="options">
        {{ options }}
      </option>
    </select>
    <div
      *ngIf="
        coapplicant &&
        coapplicant.invalid &&
        (coapplicant.dirty || coapplicant.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="coapplicant.errors?.required">
        Complete the form to enable button.
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="!loancalculatorForm.valid">
    Calculate:
  </button>

  <div *ngIf="errors !== null">
    <div *ngIf="errors.length > 0">
      <div *ngFor="let e of errors">
        <p>{{ e.message }}</p>
      </div>
    </div>

    <div *ngIf="errors.length !== null">
      <p>Service is temporarily not available. Try again later.</p>
    </div>
  </div>

  <div *ngIf="response !== null">
    <p class="loan-amount">Loan amount: {{ response.loanAmount / 1000 }}</p>
    <p class="interest-rate">
      Interest rate: {{ response.interestRate / 1000 }} %
    </p>
  </div>
</form>
